.body{
    margin: 0px;
    padding:0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo>img {
    height  :70px;
}
.nav-items{
   display: flex;
   justify-content: space-between;
   gap:1.5rem ;
   font-size: 20px;
   margin-top: 0px;
   padding:10px;
}
hr{
    color:black;
}
.input{
    width:80%;
    margin: 4px 0px;
    padding:10px;
    border:none;
    border-radius: 1rem;
    font-size: 20px;
    background-color: rgb(221, 220, 220);
}
.search{
    margin: 4px 0px;
    padding:8px ;
    border:1px solid grey;
    border-radius:1rem;
    font-size: 20px;
    background-color: rgb(221, 220, 220);
} 
.filter-cards{
    padding:5px 12px;
    margin:5px;
    background-color: red;
    color:white;
    border:none;
    border-radius:2rem;
    font-size:22px;
}
.restcards-container{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
}
.restaurant-card{
    height: 400px;
    width:250px;
    border: 1px solid rgb(235, 235, 235);
    background-color:rgb(235, 235, 235);
    margin:20px 4px;
    padding:3px; 
}
.restaurant-card:hover{
    cursor:pointer;
    border: 1px solid grey;
}
.resto-img{
    width: 100%;
    max-height: 50%;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.shimmer-card{
    height: 400px;
    width:300px;
    border: 1px solid rgb(235, 235, 235);
    background-color:rgb(235, 235, 235);
    margin:10px;  
}
.login{
    margin: 10px;
    border:navajowhite;
    border-radius: 10rem;;
    font-size: 18px;
    padding: 0px 10px;
    color:white;
    background-color: blue;
}